# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# local dependencies
/node_modules/

# generated output
/dist/

# misc
.DS_Store
*.pem

# env files (can opt-in for committing if needed)
.env*

# ide
.idea/
